<h1>Fizz Buzz API</h1>

<p>
You can directly access the output of the Fizz Buzz process in JSON by going to: <a href="/output.json?amount=0"><%= uri('/output' + '.json?amount=0') %></a>, replacing "0" with any integer less than 10,000.<br> Numbers greater than 10,000 will only return results up to 9,999.
</p>
<p>
You can directly download the output of the Fizz Buzz process in a text file by going to: <a href="/output.text?amount=0"><%= uri('/output'+ '.text?amount=0') %></a>, replacing "0" with any integer less than 10,000.<br> Numbers greater than 10,000 will only return results up to 9,999.
<p>
<a href="/">Click here</a> to return to the homepage.
</p>
