<h1>Fizzbuzz API</h1>

<p>
You can directly access the output of the fizzbuzz process in JSON by going to: <a href="/output.json?amount=0"><%= uri('/output' + '.json?amount=0') %></a>, replacing "0" with whatever integer you would like.
</p>
