<h1>FizzBuzz Calculator</h1>

<br>

<form action="/output" method="post">
  <lable for="amount">Upper limit</lable>
  <input type="number" name="amount">
  <input type="submit" value="Submit">
</form>



