<h1>Fizz Buzz Calculator</h1>

<br>

<form action="/output" method="post">
  <lable for="amount">Upper limit</lable>
  <input type="number" name="amount">
  <input type="submit" value="Submit">
</form>

<p>
This webapp automatically generates <a href="http://en.wikipedia.org/wiki/Fizz_buzz">Fizz Buzz</a> output for any integer less than 10,000. Numbers greater than 10,000 will only return results up to 9,999.
</p>
<p>
<a href='/api'>Click Here</a> to access Fizz Buzz API.
</p>



