<h1>Fizz Buzz Output</h1>

<ul class="unstyled">
<li><a href="/">Click here</a> to return to the homepage.</a></li><br>

<li><a href=<%= "/output.json?amount=#{params[:amount]}" %>>Click here</a> for raw JSON output</li><br>

<li><a href=<%= "/output.text?amount=#{params[:amount]}" %>>Click here</a> to download the Fizz Buzz output as a text file.</li><br>

<li>Results:</li><br>

<%= FizzBuzz.new(params[:amount]).as_html %>
</ul>
